html {
	height: 100%;
}
body {
	min-width:1000px;
	height: 100%;
}
.ancherRow, .marker-row {
	cursor: pointer;
}

#map-view {
	height: 500px;
}
.fix-width {
	width: 200px;
	overflow-x: scroll;
}

.marker-row  ul {
	width: auto;
	margin: 0;
	padding: 0;
}

.marker-row  li {
	display: inline-block;
	background-color: #3a87ad;
	color: white;
	margin-right: 2px;
	border-radius: 2px;
	padding: 2px 4px;
	font-weight: bold;
	font-size: 11.844px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	white-space: nowrap;
}

.bg-color {
	background-color: #BA85BA;
}
