!!!5
%html
  %head
    - @template_partials = ["bootstrap.css", "main.css", "jquery.js", "bootstrap.js"]
    =load_partials
    %title= @title ? @title : "Untitled"
  %body
    = haml :_navbar
    %main.container
      =yield

